/.idea/AdventOfCode.iml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/shelf/Changes.xml
/2025java/target/classes/Day4input.txt
/2025java/target/classes/org/example/Day5$Range.class
/2025java/target/classes/org/example/Day5.class
/2025java/target/classes/Day5ex.txt
/2025java/target/classes/Day5input.txt
/.idea/shelf/Changes/shelved.patch
/2025java/target/2025java-1.0-SNAPSHOT.jar
/2025java/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/2025java/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/2025java/target/classes/org/example/Day1.class
/2025java/target/classes/Day1ex.txt
/2025java/target/classes/Day1first.txt
/2025java/target/classes/org/example/Day2.class
/2025java/target/classes/Day2ex.txt
/2025java/target/classes/org/example/Day2in23.class
/2025java/target/classes/Day2in23ex.txt
/2025java/target/classes/Day2in23input.txt
/2025java/target/classes/Day2input.txt
/2025java/target/classes/org/example/Day3.class
/2025java/target/classes/Day3ex.txt
/2025java/target/classes/Day3input.txt
/2025java/target/classes/org/example/Day4.class
/2025java/target/classes/Day4ex.txt
/2025java/target/classes/org/example/Day202024.class
/2025java/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/2025java/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/2025java/target/classes/org/example/Main.class
/2025java/target/maven-archiver/pom.properties
/2025java/target/classes/org/example/Template.class
