/.idea/AdventOfCode.iml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/shelf/Changes.xml
/2025java/target/classes/Day4input.txt
/2025java/target/classes/org/example/Day5$Range.class
/2025java/target/classes/org/example/Day5.class
/2025java/target/classes/Day5ex.txt
/2025java/target/classes/Day5input.txt
/.idea/shelf/Changes/shelved.patch
